<% if @author.errors.present? %>
    <div class="alert alert-danger">
        <p>Errors:</p>
        <ol>
            <% @author.errors.full_messages.each do |message| %>
            <!--<li><%= message.titleize %></li> -->
            <li><%= message %></li>
            <% end %>
        </ol>
    </div>
<% end %>
<%= form_for @author do |f| %>
<div> 
    <%= f.label :name, "Name" %>
    <%= f.text_field :name , class: "form-control "%>
</div>
<div> 
    <%= f.label :name, "Surname" %>
    <%= f.text_field :surname , class: "form-control "%>
</div>
<%= f.submit button_name, class: "btn btn-primary" %>
<% end %>
