<% if @book.errors.present? %>
    <div class="alert alert-danger">
        <p>Errors:</p>
        <ol>
            <% @book.errors.full_messages.each do |message| %>
            <!--<li><%= message.titleize %></li> -->
            <li><%= message %></li>
            <% end %>
        </ol>
    </div>
<% end %>

<%= form_for @book do |f| %>
  <div> 
      <%= f.label :title, "Title" %>
      <%= f.text_field :title , class: "form-control "%>
  </div>

  <div> 
      <%= f.label :author, "Author" %>
      <% if @book.author_id? %>      
        <%= f.select :author_id , @authors.map{ |a| [a.name + ' ' + a.surname, a.id]}, { }, class: "form-control " %>
      <% else %>
        <%= f.select :author_id, options_for_select(@authors.map{ |a| [a.name + ' ' + a.surname, a.id] }),  
             { :include_blank => 'Select a author' }, class: "form-control " %>
      <% end %>
  </div>

  <div> 
      <%= f.label :status, "Status" %>
      <% if @book.status? %>
        <%= f.select :status , Book.const_get(:STATUS_SELECT), { }, class: "form-control " %>
      <% else %>
        <%= f.select :status, Book.const_get(:STATUS_SELECT), 
            { :include_blank => 'Select a status' }, class: "form-control " %>
      <% end %>
  </div>

 <%= f.submit button_name, class: "btn btn-primary" %>
 <% end %>
