<% if @tag.errors.present? %>
    <div class="alert alert-danger">
        <p>Errors:</p>
        <ol>
            <% @tag.errors.full_messages.each do |message| %>
            <!--<li><%= message.titleize %></li> -->
            <li><%= message %></li>
            <% end %>
        </ol>
    </div>
<% end %>
<%= form_for @tag do |f| %>
<div> 
    <%= f.label :name, "Name" %>
    <%= f.text_field :name , class: "form-control "%>
</div>
<div>
    <%= f.submit button_name, class: "btn btn-primary" %>
    <%= link_to "Cancel", tags_path, class: "btn btn-danger" %>
</div>
<% end %>
